h1 {
   text-align: center; 
}

#cajaLibro {
    border: 5px solid black;
    max-width: 90%;
    margin: auto;
}

#imagenLibro {
    
    display: inline-block;
    height: 100%;
    width: 45%;
}

#InfoLibro {
    
    display: inline-block;
    width: 50%;
}